<h1><%= @scientist.name %></h1>
<h2>Field of Study: <%= @scientist.field_of_study %></h2>

<br><h3>Planets Traveled:</h3>
<%@scientist.planets.each do |planet|  %>
<li><%= planet.name %></li>
<% end %>

<br><%= button_to "Delete", scientist_path(@scientist), method: :delete %>



<br><%= button_to "Edit", edit_scientist_path(@scientist), method: :get %>

<p><%= link_to "Back", scientists_path %></p>

